<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1.0"
    />
    $if(date-meta)$
    <meta name="date" content="$date-meta$" />
    $endif$
    <meta property="og:title" content="TODO - $pagetitle$" />
    <!-- appears on links -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://TODO/$directory$" />
    $if(image)$
    <meta property="og:image" content="$image$" />
    $else$
    <meta property="og:image" content="/avatar.jpg" />
    $endif$
    <!-- appears on image previews of links-->
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="TODO" />
    <!-- appears on tab and links -->
    $if(description)$
    <meta property="og:description" content="$description$" />
    $else$
    <meta property="og:description" content="TODO: default description" />
    $endif$
    <!-- appears on links -->
    <title>TODO - $pagetitle$</title>
    <link href="https://TODO/$directory$" rel="canonical" />
    <!-- same as og:url -->
    <link href="/style.css" rel="stylesheet" type="text/css" />
    $if(extracss)$
    <link href="$extracss$.css" rel="stylesheet" type="text/css" />
    $endif$
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <img src="/avatar.jpg" alt="avatar" />
      <h2>TODO</h2>
      <h3>$pagetitle$</h3>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="/now.html">Now</a>
      <!-- example subdirectories you might remove -->
      <a href="/mindmap/">Mind Map</a>
      <a href="/projects/">Projects</a>
    </nav>
    <article>
      $for(include-before)$ $include-before$ $endfor$ $body$
      $for(include-after)$ $include-after$ $endfor$
    </article>
    <footer>
      <p>Licensed under <a href="/LICENSE.txt">GPLv3</a>.</p>
      <p>
        Code on
        <a href="https://github.com/gregdan3/SWGIG">my GitHub</a>.
      </p>
    </footer>
    <!-- <script type="text/javascript" src="https://livejs.com/live.js"></script> -->
  </body>
</html>
